#contactForm {
    animation: 400ms ease-out slideInLeft;
    padding: 20px 30px 20px 30px;
    background-color: #00afef46;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.336);
    transition: 300ms;
}

#contactForm:hover {
    transition: 300ms;
    box-shadow: none;
    border-radius: 0px;
}

@media screen and (max-width: 460px) {
    iframe {
        width: 98%;
    }
}

#contact_subject {
    width: 100%;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}